.Header
{
   
    font-size: 100px;
    background-color: rgba(255, 255, 255,0.5);
    font-family: "Lobster";
    color:rgba(15, 15, 15);
    padding-bottom: 10px;
    /* opacity: 50%; */
    text-align: center;
}
.add
{
    position:relative;
    left:380px;
    top:-60px;
    background-color: rgb(97, 96, 96);
    border-radius:10px ;
    padding:10px ;
    border-style:none ;
}
body
{
    background-image: url('Lib.jpg');
    background-size: cover;
}
.place_holder
{
    width: 180px;
    height: 200px;
    background-color: rgba(255, 255, 255,0.5);
    margin:20px;
    padding:5px;
    text-align: center;
   
}
.text
{
    position: relative;
    bottom:-45px;
    font-family: sans-serif;
    line-height: 30px;
}
.del
{
    position: relative;
    top:-180px;
    right:-65px;
    background-color: rgb(97, 96, 96);
    border-radius:5px ;
    padding:10px ;
    border-style:none ;
   
}
.form
{
    background-color: rgba(222, 231, 233,1);
    position: fixed;
    top: -100px;
    width: 300px;
    height: 200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 30px;
    display: none;
}
.form_text
{
    position: relative;
    top:50px;
    line-height: 30px;
   
    /* padding: 20px; */
}
.overlay
{   position: absolute;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    
}
.books
{
    display:flex;
}